/*
 * sircus-tools-space
 ================================================== */
.t-ma0    { margin: 0 !important; }
.t-maMi   { margin: $g-space-mi !important; }
.t-maTn   { margin: $g-space-tn !important; }
.t-maXs   { margin: $g-space-xs !important; }
.t-maSm   { margin: $g-space-sm !important; }
.t-maMd   { margin: $g-space-md !important; }
.t-maLg   { margin: $g-space-lg !important; }
.t-maXl   { margin: $g-space-xl !important; }
.t-maHg   { margin: $g-space-hg !important; }
.t-maGt   { margin: $g-space-gt !important; }


.t-mt0    { margin-top: 0 !important; }
.t-mtMi   { margin-top: $g-space-mi !important; }
.t-mtTn   { margin-top: $g-space-tn !important; }
.t-mtXs   { margin-top: $g-space-xs !important; }
.t-mtSm   { margin-top: $g-space-sm !important; }
.t-mtMd   { margin-top: $g-space-md !important; }
.t-mtLg   { margin-top: $g-space-lg !important; }
.t-mtXl   { margin-top: $g-space-xl !important; }
.t-mtHg   { margin-top: $g-space-hg !important; }
.t-mtGt   { margin-top: $g-space-gt !important; }


.t-mb0    { margin-bottom: 0 !important; }
.t-mbMi   { margin-bottom: $g-space-mi !important; }
.t-mbTn   { margin-bottom: $g-space-tn !important; }
.t-mbXs   { margin-bottom: $g-space-xs !important; }
.t-mbSm   { margin-bottom: $g-space-sm !important; }
.t-mbMd   { margin-bottom: $g-space-md !important; }
.t-mbLg   { margin-bottom: $g-space-lg !important; }
.t-mbXl   { margin-bottom: $g-space-xl !important; }
.t-mbHg   { margin-bottom: $g-space-hg !important; }
.t-mbGt   { margin-bottom: $g-space-gt !important; }


.t-pa0    { padding: 0 !important; }
.t-paMi   { padding: $g-space-mi !important; }
.t-paTn   { padding: $g-space-tn !important; }
.t-paXs   { padding: $g-space-xs !important; }
.t-paSm   { padding: $g-space-sm !important; }
.t-paMd   { padding: $g-space-md !important; }
.t-paLg   { padding: $g-space-lg !important; }
.t-paXl   { padding: $g-space-xl !important; }
.t-paHg   { padding: $g-space-hg !important; }
.t-paGt   { padding: $g-space-gt !important; }


.t-pt0    { padding-top: 0 !important; }
.t-ptMi   { padding-top: $g-space-mi !important; }
.t-ptTn   { padding-top: $g-space-tn !important; }
.t-ptXs   { padding-top: $g-space-xs !important; }
.t-ptSm   { padding-top: $g-space-sm !important; }
.t-ptMd   { padding-top: $g-space-md !important; }
.t-ptLg   { padding-top: $g-space-lg !important; }
.t-ptXl   { padding-top: $g-space-xl !important; }
.t-ptHg   { padding-top: $g-space-hg !important; }
.t-ptGt   { padding-top: $g-space-gt !important; }


.t-pb0    { padding-bottom: 0 !important; }
.t-pbMi   { padding-bottom: $g-space-mi !important; }
.t-pbTn   { padding-bottom: $g-space-tn !important; }
.t-pbXs   { padding-bottom: $g-space-xs !important; }
.t-pbSm   { padding-bottom: $g-space-sm !important; }
.t-pbMd   { padding-bottom: $g-space-md !important; }
.t-pbLg   { padding-bottom: $g-space-lg !important; }
.t-pbXl   { padding-bottom: $g-space-xl !important; }
.t-pbHg   { padding-bottom: $g-space-hg !important; }
.t-pbGt   { padding-bottom: $g-space-gt !important; }
